table.title {
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 0;
}

table.dir {
    font-family: monospace;
}

table.dir thead td {
    font-weight: bold;
}

table.dir thead.line td {
    padding-top: 12px;
    border-top: 1px solid #aaa;
}

table.dir td {
    vertical-align: top;
    white-space: nowrap;
    padding: 0 1em 0 0;
}

table.dir tbody tr {
    background-color: #fff;
}

table.dir tbody tr:hover {
    background-color: #eee;
}