@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

h1,h2 {
    font-family: "Karla", sans-serif;
    margin-bottom: 8px;
}

p,li {
    font-family: "Roboto", sans-serif;
    margin-top: 8px;
    line-height: 1.2em;
}

li {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 > p {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
    font-weight: normal;
    margin: 0 6px;
}

h1 > p > b {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 3px;
}

#socials {
    letter-spacing: 4px;
}

#socials a {
    font-size: 1.6em;
    color: grey;
}

#socials > i {
    font-size: 1.6em;
    color: grey;
    cursor: pointer;
}