#navigation {
	height: 40px;
	padding: 0;
	margin: 0;
	align-items: center;
}

#navigation ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 4px 0;
	border-bottom: 1px solid lightgrey;
}

#navigation li {
	display: inline;
	padding: 4px 0;
	height: 100%;
	border-bottom: 1px solid #292929;
	color: #292929;
	margin-right: 16px;
}

#navigation li.link {
	border-bottom: 1px solid lightgrey;
	color: lightgrey;
	cursor: pointer;
}