/* Palette
#93ffd7 Teal (click me!)
#CD3131 Red
#F14C4C Light Red
#0DBC79 Green
#23D18B Light Green
*/

@font-face { 
  font-family: "gohu";
  src: url("../css/gohu.woff") format('woff');
}

body {
  display: flex;
  color: #FEFEFE;
  background-color: #0c0d10;
  margin: 0 0;
  padding: 1em 0 1em 0;
  overflow-y: scroll;
  justify-content: center;
}

pre {
  font-family: "gohu", "Lucida Console", monospace, Monaco;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  margin: 0;
}

a {
  color: #93ffd7;
  text-decoration: none;
}

em {
  font-style: normal;
}

em.red {
  color: #CD3131;
}

em.light-red {
  color: #F14C4C;
}

em.green {
  color: #0DBC79;
}

em.light-green {
  color: #23D18B;
}

#sketch {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}